<div class="innercontent clearfix"> 
    
        <table class="subnav">
          <tr>
            <td>
              <%= link_to "Our Structure", :anchor =>"structure" %></td>
            <td>
              <%= link_to "Our History", :anchor =>"history" %></td>
            <td>
              <%= link_to "Holiday Schedule", :anchor =>"holiday" %></td>
            <td>
              <%= link_to "Our Mission", :anchor =>"mission" %></td>
            <td>
              <%= link_to "Our Staff", :anchor =>"staff" %></td>
          </tr>
        </table>
        <br />
        
        
        
		<h1>What Is A Credit Union?</h1>
                                
        <p>Credit unions are not-for-profit financial cooperatives serving members who share
          something in common-employment, association membership, or residence in a particular
          geographic area. More than 70 million U.S. consumers are member-owners of, and receive
          all or part of their financial services from, the nation's 12,047 credit unions.</p>

        <h2><a name="structure"></a>Philosophy &amp; Structure:</h2>
        
        <p>Credit unions are democratically owned and controlled institutions based on 'people
          helping people' principles. Credit union boards of directors are elected by members;
          each member has an equal vote, regardless of how much he or she has on deposit.
          Only members may serve as directors, and directors serve without compensation. Credit
          unions have no outside stockholders, so after reserves are set aside, earnings are
          returned to members in the form of higher dividends on savings, lower loan rates
          and lower cost services.</p>

        <h2><a name="structure" id="history"></a>Credit Union History:</h2>
        
        <p>Country Federal Credit Union is a federally charted credit union operating under
          the rules and regulations set forth by NCUA (National Credit Union Association)
          and a variety of other federal and state laws.</p>
      
        <p>The Credit Union Was founded August 12, 1967 in and for all residents of and persons
          who work in Baker county, Florida; employees of this credit union and organizations
          of such persons, Expanded in 1996 to include Baldwin, Maxville, and surrounding
          (six mile radius of Baldwin) area with a branch office located in Baldwin and also a
          Branch located in Glen St. Mary.</p>
      
        <p>The purpose of the credit union is to encourage savings among its members and from
          these funds provide a source of credit at reasonable rates of interest.</p>
      
        <h2>SAFETY &amp; SOUNDNESS</h2>
        
        <p>Credit unions primarily engage in consumer loans and residential real estate lending
          to their members. Credit union performance is at a historically high level. Currently,
          credit union capital nationwide is 10.28% and the equity ratio of the federal insurance
          fund, the National Credit Union Share Insurance Fund (NCUSIF), has operated above
          1.25% for 11 consecutive years.</p>
      
        <h2>REGULATION &amp; SUPERVISION</h2>
        
        <p>Country Federal Credit Union was chartered under federal law. Federally
          chartered credit unions are regulated by the National Credit Union Administration
          (NCUA), an independent agency of the U.S. Government. NCUA's three board members
          are nominated by the President and confirmed by the Senate.&nbsp;</p>
      
        <p>State chartered credit unions are regulated by their state credit union department.
          NCUA administers the federal insurance fund, NCUSIF, which covers all federal credit
          unions, and most state chartered credit unions. No taxpayer money is used for regulating
          and overseeing federal credit unions, as all activities of NCUA and the NCUSIF are
          funded by credit unions.</p>

        <!-- Holiday Schedule -->


        <a name="structure" id="holiday"></a>
        <table class="holiday">
            <tr>
              <th colspan="2">Holiday Schedule 2010</th>
            </tr>
            <tr>
                <td>New Year's Day</td>
                <td>Friday, January 1</td>
            </tr>
            <tr>
                <td>Martin Luther King Day</td>
                <td>Monday, January 18</td>
            </tr>
            <tr>
                <td>Washington's Birthday</td>
                <td>Monday, February 15</td>
            </tr>
            <tr>
                <td>Memorial Day</td>
                <td>Monday, May 31</td>
            </tr>
            <tr>
                <td>Labor Day</td>
                <td>Monday, September&nbsp;6</td>
            </tr>
            <tr>
                <td>Columbus Day</td>
                <td>Monday, October 11</td>
            </tr>
            <tr>
                <td>Veterans' Day</td>
                <td>Thursday, November 11</td>
            </tr>
            <tr>
                <td>Thanksgiving Day</td>
                <td>Thursday, November 25</td>
            </tr>
            <tr>
                <td>Christmas Day</td>
                <td>Saturday, December 25</td>
            </tr>
            <tr>
                <td>New Year's Day</td>
                <td>Saturday, January 1</td>
            </tr>
                                                
        </table>
        
        <br />
		<a name="structure" id="mission"></a><h2>Credit Union Mission:</h2>
        
        <p>Whereas, Country Federal Credit Union is a member owned not-for-profit cooperative
          financial institution formed to permit those in the field of membership specified
          in it's charter to pool their savings, lend money to one another, and exclusively
          own the organization where these members will save, borrow or obtain related financial
          services. Country Federal Credit Union members are united by a common bond and democratically
          operate the credit union under federal regulations.</p>
       
        <h2>LEGISLATIVE UPDATE</h2>
        <p>When legislation or bankers' lawsuits attack any credit union, it's an
          attack on all credit unions. Your Credit Union proudly protects members' right to
          join and participate in their not-for-profit financial cooperative.</p>
      
        <h2>BENEFITS OF MEMBERSHIP</h2>
        <p>Founded on the basic democratic premise of the cooperative movement, credit unions
          believe that access to low-cost financial services is critical to the health and
          stability of ordinary citizens.</p>
      
        <h2><a name="structure" id="staff"></a>Meet Our Staff:</h2>
        
        <table class="Default">
          <tr>
            <td><%= image_tag "BrianYarbrough.gif", :alt=>"" %>
            </td>
            <td><%= image_tag "AnitaCrews.gif", :alt=>"" %>
            </td>
          </tr>
          <tr>
              <td>W. Brian Yarbrough<br />President/CEO
                  </td>
              <td>Anita W. Crews<br />Executive Vice President/COO
                  </td>
          </tr>
          <tr>
              <td><%= image_tag "sheila.jpg", :alt=>"" %></td>
              <td><%= image_tag "lenafish.jpg", :alt=>"" %></td>
          </tr>
          <tr>
              <td>Sheila Gordon<br />
                  Baldwin Branch Supervisor</td>
              <td>Lena Fish<br />
                  Sanderson Branch <br />
                  Supervisor / Lead MSR</td>
          </tr>
          </table>

	</div>