<div class="innercontent clearfix">
    	<h1>Contact Us:</h1>
		<a name="locations" id="locations"></a> 
        <p>We are Now in 4 Locations For Your Convenience! </p>
        <p class="centertext"><%= image_tag "MainBranch.jpg", :alt=>"" %></p>
        <p class="centertext"><strong>Main Branch</strong><br />
            602 South Sixth Street<br />
            Macclenny, Florida 32063&nbsp;<br />
            Phone: (904) 259-6702&nbsp; Fax: (904) 259-2666</p>
        <p class="centertext"><strong>Lobby Hours</strong><br />
            (Excluding Federal Holidays)<br />
            Monday, Tuesday, Wednesday, Thursday......9 A.M. - 4:30 P.M.<br />
            Friday..............................................................9
            A.M. - 6 P.M.<br />
            <br />
            <strong>Drive-Through Hours</strong><br />
            <br />
            Monday, Tuesday, Wednesday, Thursday....7:30 A.M. - 5 P.M.<br />
            Friday...............................................................7:30
            A.M. - 6 P.M.<br />
            Saturday .........................................................9
            A.M. - 12:30 P.M.</p>
<p class="centertext">&nbsp;</p>
        <p class="centertext"><%= image_tag "BaldinBranch.jpg", :alt=>"" %></p>
        
        <p class="centertext"><strong>Baldwin Branch</strong><br />
            100 South Lima Street<br />
            Baldwin, Florida 32234<br />
            (904) 266-1041&nbsp; Fax: (904) 266-1044</p>
        <p class="centertext"><strong>Lobby Hours</strong><br />
            <br />
            (Excluding Federal Holidays)<br />
            Monday, Tuesday, Wednesday, Thursday......9 A.M. - 4:30 P.M.<br />
            Friday..............................................................9
            A.M. - 6 P.M.<br />
            <br />
            <strong>Drive-Through Hours</strong><br />
            <br />
            Monday, Tuesday, Wednesday, Thursday...........7:30 A.M. - 5 P.M.<br />
            Friday..............................................................7:30
            A.M. - 6 P.M.<br />
            Saturday .........................................................9
            A.M. - 12:30 P.M.</p>
<p class="centertext">&nbsp;</p>
        <p class="centertext"><%=image_tag "glenoffice.jpg", :alt=>"" %></p>
        
        
        <p class="centertext"><strong>Glen St. Mary Branch</strong><br />
          6746 East Mount Vernon Street, Hwy US 90<br />
          Glen St. Mary, Florida 32040<br />
          (904) 259-6702 &nbsp; Fax: (904) 653-4410</p>
        <p class="centertext"><strong>Lobby and Drive-Through Hours</strong><br />
            <br />
            (Excluding Federal Holidays)<br />
            Monday, Tuesday, Wednesday, Thursday....8:30 A.M. - 4:30 P.M.<br />
            Friday..............................................................8:30
            A.M. - 6 P.M.</p>
<p class="centertext">&nbsp;</p>
      
        <hr />
        <p class="centertext"><%= image_tag "sanderson.jpg", :alt=>"" %><br />
            <strong><br />
            Sanderson Branch</strong><br />
            9140 County Road 229<br />
            Sanderson, Florida&nbsp; 32087</p>
        <p class="centertext">
            <strong>Lobby Hours</strong><br />
            <br />
            (Excluding Federal Holidays)<br />
            Monday, Tuesday, Wednesday, Thursday....9 A.M. - 4:30 P.M.<br />
            Friday............................................................9
            A.M. - 6 P.M.<br />
            <br />
            <strong>Drive-Thru Hours</strong><br />
            <br />
Monday, Tuesday, Wednesday, Thursday....7:30 A.M. - 5:00 P.M.<br />
Friday............................................................7:30 A.M.
- 6 P.M.<br />
Saturday.......................................................9 A.M. - 12:30
P.M.<br />
<br />
        </p>            
        <hr />      
        <p class="centertext"><strong>Main Branch Location:</strong><br />
          602 South 6th Street<br />
          Macclenny, FL 32063<br /></p>
          
        <p class="centertext"><strong>Phone Numbers:</strong><br />
          (904) 259-6702<br />
          (904) 259-2666 FAX</p>

        <p class="centertext"><strong>Email:<br />
          </strong><%= mail_to "cfcu@countryfcu.com", "cfcu@countryfcu.com" %></p>

        <p class="centertext"><%= image_tag "mapquest.gif", :alt=>"" %></p>
  
    </div>