<div class="innercontent clearfix">
    <p class="centertext"><%= link_to image_tag("fraudalert.jpg", :alt=>""), prodserv_path %></p>
      <script type="text/javascript">
		AC_FL_RunContent(
			'codebase', 'http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=8,0,0,0',
			'width', '450',
			'height', '42',
			'src', 'fraud1',
			'quality', 'high',
			'pluginspage', 'http://www.adobe.com/go/getflashplayer',
			'align', 'middle',
			'play', 'true',
			'loop', 'true',
			'scale', 'showall',
			'wmode', 'transparent',
			'devicefont', 'false',
			'id', 'fraud1',
			'bgcolor', '#ffffff',
			'name', 'fraud1',
			'menu', 'true',
			'allowFullScreen', 'false',
			'allowScriptAccess','sameDomain',
			'movie', 'fraud1',
			'salign', ''
			); //end AC code
		</script>
       <p><span class="boldred">:::: Effective June 1, 2010 ::::</span></p>
       <p> The lobby in our Sanderson, Baldwin, and Macclenny Branches will no
           longer be open on Saturdays. Our drive-thru hours will remain the
           same 9:00am-12:30pm.</p>
       <hr />
       <h1>Our members now get surcharge free ATM&rsquo;S nationwide!!!</h1>
       <p>Now, enjoy Surcharge Free CFCU ATM card transactions at over  100,000+ ATMs across the country &amp; 11,766 ATMs in Florida. Listed below are  just a few of many ATMs you will now have Surcharge Free Access to:<br />
           * Community First Credit Union<br />
           * Florida Telco Credit Union<br />
           * Jax Federal Credit Union<br />
           * First Federal Credit Union<br />
           * Duval Federal Credit Union<br />
           * City &amp; Police Federal Credit Union<br />
           * Jacksonville Firemen&rsquo;s  Credit Union</p>
       <p>Just one more GREAT reason to have your Share Draft/ Checking account  with us. </p>
       <p><%= link_to image_tag("cu24logos.gif", :alt=>"Credit Union 24", :class=>"fleft"), "pdf/overdraft.pdf" %></p>
       <p>&nbsp;</p>
       <p><em><strong><br />
           Look for these Logos!</strong></em></p>
       <p>&nbsp;</p>
       <p>&nbsp;</p>
       <p>&nbsp;</p>
       <hr />
       <h1>Keep up with important changes with our <%= link_to "Newsletter", "pdf/newsletter.pdf", :rel => "external" %>!</h1>
       <p>Welcome to the Country Federal Credit Union Web Site. We hope that you will find
           this website informative and helpful in assisting you with your financial service
           needs. At Country Federal Credit Union, our goal has been to provide members
           with the most affordable financial products and quality service since August
           12, 1967.</p>
       <p>Our strong commitment to our members, as well as their commitment to us, has
          allowed us to exceed 36 million in assets. We have three locations to better
          serve you.</p>
       <p>Country Federal Credit Union is Federally insured by the National Credit Union
          Administration (NCUA).</p>
          <hr />
       <h1>Stay protected - make sure you OPT IN for overdraft
           privileges.</h1>
       <p>Federal lawmakers have created new rules governing overdraft
           protection programs that go into effect on July 01, 2010.&nbsp; As
           a result, YOU now have an option concerning whether you want to continue
           to have overdraft service cover your ATM and everyday debit card transactions.&nbsp; Please
           take note that this opt-in rule applies to ATM and everyday debit
           card transactions and DOES NOT pertain to overdraft protection services
           associated with written checks or recurring debt transactions, such
           as regularly scheduled bill payments.</p>
       <p><%= link_to image_tag("overdraft.jpg", :alt=>"", :class=>"fright"), "pdf/overdraft.pdf" %> Look for your opt-in form coming to you by mail.&nbsp; Once
           you have signed it, please return the form to any branch location
           so that we may ensure you stay protected.&nbsp; Forms are also at
           all branch locations so stop by today to make sure you meet the deadline.&nbsp; You
           can also print one out <%= link_to "HERE", "pdf/overdraft.pdf", :rel => "external" %>:</p>
       <p>For existing accounts: If you do not opt in, beginning
           August 15, 2010 your ATM and everday debit card transactions will
           NOT be protected under Country Federal Credit Union's overdraft protection.</p>
       <p>For new accounts: If you open a new account on or after
           July 1, 2010 your ATM and everday debit card transactions will not
           be protected unless you opt in.</p>
<p><%= link_to image_tag("free.jpg", :alt=>"Free Bill Pay"), "https://www.billpaysite.com/V2/Demo.aspx?instID=39710" %>
    <%= image_tag "10%2017%2008.jpg", :alt=>"" %>    	</p>
       <p class="boldred centertext">Emergency Notification Numbers</p>
    	<p class="boldred">If you lose or have lost your VISA Credit Card stolen, please call 1-888-720-6836.<br />
      	  If you lose or have lost your debit card stolen, please call 1-800-528-2273</p>
    	<p>&nbsp;</p>
        <p>Effective September 18, 2009, all international ACH payments will use the Standard Entry 
            class Code IAT. Specific provisions will be added to Article One that excuses a participating 
            DFI from its obligations under the Rules to credit or debit an account or to transfer funds 
            when such action would be in conflict with U.S. law. This provision would, for example, excuse 
            an RDFI from its obligation to credit a Receiver for a deposit on effective date of the file 
            because the item is suspected of being in violation of an OFAC sanctions policy and the RDFI 
            is still investigating the transaction. Suspect items cannot be posted until they have been 
            cleared. The changes to Article One allow the RDFI to hold the transaction until the item has 
            been cleared. <span class="boldred">The RDFI should have wording in its agreements with consumer and corporate 
            account holders allowing for delay in posting of the transaction due to review of the 
            transaction.</span>
        </p>
</div>
