 </div>     
            <div id="bottomdivider">
            <img src="images/footdivider.jpg" alt="" />
            </div>
        
        
            <div id="footer">
            
              <div id="prefooter">
                <table class="prefooter">
                  <tr>
                    <td><%= link_to "Privacy Policy", privacy_path, :class=>"3" %></td>
                    <td><%= link_to "About Us", aboutus_path, :class=>"3" %></td>
                    <td><%= link_to "Contact Us", contact_path, :class=>"3" %></td>
                  </tr>
                </table>
              </div>
          
            <div class="left">Site Design by:<br />
              <%= link_to image_tag("shareone.gif", :alt=>"Share One"), "http://www.shareone.com/", :rel => "external" %><br />
              &copy; 2004-2010
            </div>
            
            <div class="center">
            <%= link_to image_tag("ncuablue.gif", :alt=>""), "http://www.ncua.gov/", :rel => "external" %><br />
                    Your savings federally insured to<br />
                    at least $250,000 and backed by<br />
                    the full faith and credit of the<br />
                    United States Government.
            </div>
            <div class="right">
            <%= image_tag "ehl.gif", :alt=>"" %>
          	</div>
          
		 </div>
       </div> 
	</div>